#containerAdd, #containerAdd2{
    position: fixed;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.774);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
:is(#containerAdd, #containerAdd2) form{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
}
:is(#containerAdd, #containerAdd2) form h2{
    text-align: center;
}
:is(#containerAdd, #containerAdd2) form input{
    margin: 0 0 20px 0;
    height: 40px;
    padding-left: 15px;
}
:is(#containerAdd, #containerAdd2) form footer{
    display: flex;
    justify-content: space-between;
}
:is(#containerAdd, #containerAdd2) form footer button:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF6060;
    transition: 0.5s;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    font-weight: bold;
}
:is(#containerAdd, #containerAdd2) form footer button:first-child:hover{
    background-color: rgb(214, 64, 64);;
    transition: 0.5s;
}
:is(#containerAdd, #containerAdd2) form footer button:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #69cc6e;
    transition: 0.5s;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    font-weight: bold;
}
:is(#containerAdd, #containerAdd2) form footer button:last-child:hover{
    background-color: rgb(133, 236, 119);;
    transition: 0.5s;
}

.voltar{
    position: fixed;
    left: 15px;
    top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    text-decoration: none;
    height: 50px;
    width: 50px;
    transition: 0.5s;
}
.voltar:hover{
    transition: 0.5s;
    transform: scale(1.2);
}

body{
    background-image: url("../img/fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}