* {
    margin: 0;
    padding: 0;
}

main {
    /* background-color: #181818; */
    color: white;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main header{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: fit-content;
}
main header h1{
    margin: 20px 0;
    height: 30px;
}
main header nav{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 50px 0;
}
main header nav a img{
    height: 25px;
    width: 25px;
    margin: 0 5px;
}
main header nav a{
    flex: 1;
    padding: 10px 15px;
    margin: 20px 5px !important;
    cursor: pointer;
    background-color: rgb(207, 207, 207);
    text-decoration: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
main header nav a:hover{
    transition: 0.5s;
    background-color: rgb(245, 245, 245);
}

main article{
    background-color: #414141;
    width: 80%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 30px 0;
}
main article h2{
    margin: 20px 0;
}
main article h3{
    text-align: center;
}
main article div{
    display: flex;
    flex-direction: column;
    width: 80%;
}
main article div div{
    display: flex;
    width: 100%;

}
main article div div form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}
main article div div form button{
    flex: 1;
    cursor: pointer;
    min-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main article div div form button img{
    width: 20px;
    height: 20px;
}
main article div div form div{
    flex: 3;
    margin: 0 5px 0 0;
}
main article div div form div input{
    height: 40px;
    border: 0;
    padding: 0 15px;
    display: flex;
}
main article div div form a{
    text-decoration: none;
    color: white;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
}
main article div div form a:hover{
    transition: 0.5s;
    color: rgb(230, 230, 230);
    transform: scale(1.2);
}
main article div div.tabelaListagem{
    margin: 25px 0 0 0;
}
main article div table{
    background-color: white;
    color: black;
    border-collapse: collapse;
}
main article div table tr{
    height: 40px;
    text-align: center;
}
table tbody tr td{
    min-width: 150px;
    transition: 0.2s;
    padding: 5px;
}
table tbody tr td button:first-child{
    background-color: #04AED3;
    box-sizing: border-box;
    padding: 5px;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}
table tbody tr td button:first-child:hover{
    background-color: hsl(191deg 80% 50%);;
    transition: 0.5s;
}
table tbody tr td button:last-child{
    background-color: #FF6060;
    box-sizing: border-box;
    padding: 5px;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}
table tbody tr td button:last-child:hover{
    background-color: rgb(214, 64, 64);
    transition: 0.5s;
}
table tbody tr:hover td{
    transition: 0.2s;
    font-weight: bolder;
    transform: scale(1.1);
    color: rgb(43, 43, 43);
}

.impar{
    background-color: #EEEEEE;
}

.tabelaListagem{
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

@media only screen and (max-width: 750px) {
    main article{
        width: 100%;
        border-radius: 0;
    }
    main article div{
        width: calc(100% - 50px);
        border-radius: 0;
    }
    main header nav{
        width: calc(100% - 50px);
    }
}